*{
    margin: 0;
    padding: 0;

}

html{
    background-color: blueviolet;
    text-align: center;
}
h1{
    color: white;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 50px;
}

#nameDiv{
    margin-top: 50px;
}
.input{
    font-size: 25px;
    color: #feffff;
    font-weight: 700;
    margin: 10px;
    padding: 10px;
}
#name  {
    padding: 10px;
}
#blog {
    padding: 10px;
}
#entry{
    width: 150px;
    height: 40px;
    font-size: 23px;
    background-color: rgb(58, 4, 75);
    color: whitesmoke;
    box-shadow: 0 2px 2px 0 rgba(103, 57, 133, 0.5);
    margin-left: 40px;

}
table{
    border-collapse: collapse;
    
    width: 50%;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
}
table, th, td{
    border: 2px solid rgb(196, 189, 189);
    padding: 15px;
}
th{
    font-size: 30px;
    font-weight: 700;
    color: rgb(17, 17, 29);
}
th{
    font-size: 25px;
    font-weight: 400;
    color: rgb(37, 37, 78);
}